<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
</head>
<body>
<h2>EDIT USER</h2>
<br>
<br>

<form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
    <input type="hidden" th:field="*{id}" id="id">
    <label for="name">ENTER NAME: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="lastname">ENTER LASTNAME: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <label for="login">ENTER LOGIN: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <label for="password">ENTER PASSWORD: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <br/>
    <div th:each="role : ${roles}">
        <input type="checkbox" th:name="roles" th:value="${role.role}" th:text="${role.role}"
        />
    </div>
    <br/>
    <p>

        <input type="submit" value="EDIT USER">
</form>
<a th:href="@{/logout}">EXIT</a>
</body>
</html>