<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>ALL USERS</title>
</head>
<body>
<h1>USERS LIST</h1>
<br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LASTNAME</th>
        <th>LOGIN</th>
        <th>ROLE</th>
        <th>ACTION</th>
    </tr>

    <tr th:each="user : ${usersList}">
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getLastname()}">lastname</td>
        <td th:text="${user.getLogin()}">login</td>
        <td>
            <div th:each="role : ${user.getRoles()}">
                <p th:text="${role.getRole()}"></p>
            </div>
        <td>
            <a th:href="@{/admin/edit/{id}(id=${user.getId()})}">EDIT </a>
            <br>
            <br>
            <a th:href="@{/admin/delete/{id}(id=${user.getId()})}">DELETE </a>

        </td>
    </tr>

</table>


</div>
<br>
<br>
<a href="/admin/add">CREATE NEW USER</a>

<br>
<br>
<br>
<a th:href="@{/logout}">EXIT</a>
</body>
</html>